@import "tailwindcss";

@theme {
  --color-bg: #0F0F0F;
  --color-surface: #1A1A1A;

  --color-primary: #F72585;
  --color-primary-active: #C9186A;

  --color-border: #2A2A2A;

  --color-text: #EAEAEA;
  --color-text-dark: #212121;
  --color-muted: #cacd2b;

  --color-overlay: rgba(0, 0, 0, 0.6);

  --color-error: #FF4D6D;

  --color-accent: #fcff36;
}

body
{
    height: 100vh;
    width: 100vw;
}

*
{
    box-sizing: border-box;
}

.hide-scrollbar
{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar
{
    display: none;
}